<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title%}
    <title>Foodfy</title>
    {% endblock title %}

   
    <link rel="stylesheet" href="/styles/main.css">

    {% block styles %}{% endblock styles %}
     <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/response.css">
</head>
<body>
    <div class="page-home">
        
        <div class="page-header">
            <div class="page-logo">
                <a href="/"><img src="/assets/logo.png" alt="LogoMarca"></a>
            </div>

            <div class="page-links">
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </div>
        </div>

            {% block content%} {% endblock content %}

    </div>

    <div class="footer-class">
         <footer>
            <h3>Todos os direitos reservados</h3>
         </footer>
    </div>
   

   {% block script %} {% endblock script%}

    
    
</body>
</html>