{% extends "layout.njk" %}

{% block title %}
<title>Erro :(</title>
{% endblock title %}


{% block content %}
<div class="page-erro">
        <img src="/assets/x.svg" alt="Erro">
        <h1>Pagina Não Encontrada</h1>
        <h2>Receita não cadastrada, clique no icone FoodFy</h2>
</div>
{% endblock content %}