/* #page-home {
    height: 100vh;
} */

#page-home .content {
    width: 90%;
    max-width: 1100px;
    height:  100%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}



#page-home header {

    margin-top: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 4.5%;

    
}



#page-home header img {
    margin-right: 8.7%;
    
    font-size: 36px;
   
}

#page-home header a {
    display: flex;
    color: #111111;
    font-family: Roboto;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;

    
 
}

#page-home header a:hover {
    font-weight: bold;
 
}


#page-home .jumbotrom {
    
    width: 100%;
    height: 60%;
    background: #FBDFDB 100%;
    border-radius: 30px;
 

    
}


#page-home .jumbotrom h1{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 10.6% 50.1% 0.9% 4.3%;
    font-family: Roboto-Bold;
    color: #111111;
}

/* #page-home .jumbotrom h1{
    padding: 10.6% 41.1% 19.1% 4.3%;
    font-family: Roboto;
    font-style: bold;
} */



#page-home .jumbotrom p{
    margin-top: 0;
    margin-bottom: 1rem;
    width: 29%;
    height: 7.6%;
    padding: 0% 41.1% 15% 4.3%;
    opacity: 70%;
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    line-height: 28px;

}

#page-home .jumbotrom img{
    margin-top: -95%;
    margin-left: 70%;
    margin-right: 7%;
    margin-bottom: 3.5%;

}

#page-home article h4{
    margin-top: 4.5%;

    margin-bottom: 1.8%;

}

.cards {
    max-width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.card-img img {
    width: 100%;
    border-radius: 15px;
}

.card__content,
.card__autor {
    padding: 1.8%;
}

.card__content {
    font-family: Roboto;
    font-style: bold;
    font-size: 18px;
    color: #111111;
}

.card__autor {
    font-family: Roboto;
    font-size: 14px;
    color: #777777;
}

footer{
    position: flex;
    bottom: 0;
    width: 100%;
    height: 5.6%;
    background: #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px
    
}
footer p {
    font-family: Roboto-Regular;
font-size: 14px;
color: #999999;
text-align: center;
}


